#discount-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

#discount-list-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-self: center;
  width: 75%;
}

#discount-details-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.discount-details-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
