#product-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  align-self: center;
  justify-self: center;
}

#product-list-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 90%;
  align-self: center;
}

#product-details-header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border-bottom: 1px solid #342056;
}

.product-details-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.product-update-container {
  width: 20vw;
}
