#salespeople-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  align-self: center;
  justify-self: center;
}

#salespeople-list-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 75%;
  align-self: center;
}

#salespeople-details-header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.salesperson-details-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.salespeople-update-container {
  width: 20vw;
}
