#sales-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

#sales-list-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 90%;
  align-self: center;
}

#sales-details-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid #342056;
}

.sales-details-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
